$rhythm-unit: 'rem';

$base-font-size: 18px;
$base-line-height: 27px;

@mixin white-text-shadow 					{  @include single-text-shadow($white, 0px, 1px, 0px);  }
@mixin dark-text-shadow 					{  @include single-text-shadow(rgba($black, 0.5), 0, -1px, 0);  }

@mixin no-box-shadow						{  @include box-shadow(rgba(black, 0) 0 0 0 inset); @include box-shadow(rgba(black, 0) 0 0 0); }

$aqua: #2284A1;
$gray: #f1f0f0;
$orange: #db712a;