<div class="container">
	<div class="row">
		<header class="twelve columns">
			js bistro
		</header>
	</div>	
	<div class="row">
		 <div class="six columns centered">
		 	<div class="form-wrapper">
				<div class="help-block">Enter a Reservation</div>
				<form>
					<input type="text" name="name" placeholder="Name">
					<input type="tel" name="phone" placeholder="Phone Number">
					<input type="number" name="number" placeholder="Number in Party">
					<button class="button radius medium eight columns offset-by-four">Add Reservation</button>
				</form>
			</div>	
		</div>	
	</div>	
</div>